table {
  font-family: Arial, Helvetica, sans-serif;
  width: 1200px;
  border-spacing: 0px;

}

th {
  background-image: -webkit-linear-gradient(top, #AD3A4B 0%, #7E2836 100%);
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #B6012E;
  font-size: 12px;
  color: #FFFFFF;
  height: 70px;
  text-align: left;
  padding: 10px;


}

td {
  border-color: #EAEAEA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-width: 1px;
  border-left-style: solid;

}

.image-box {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.title-box {
  padding-left: 15px;
  color: #1F567C;
  font-weight: bold;
  border-left-style: none;

}

a:link {
  text-decoration: none;
  color: #1F567C;
  font-weight: bold;
}

.name-box {
  color: #1F567C;
  font-size: 12px;
  padding-left: 15px;
}

.words-box {
  font-size: 14px;
  text-align: center;
}

.time-box {
  font-size: 14px;
  text-align: center;
  border-right-width: 1px;
  border-right-style: solid;
}

table tr:nth-child(even) td{
    background-color: #F4F4F4;
}

.load-button {
    background-color: #1F567C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
}
